.todos {
  margin: 0 -10px;
}

.todo {
  width: 350px;
  margin-left: 10px;
  margin-right: 10px;
}

.myBorderF{
border-style: dotted;
border-top-color: green;
border-top-width: 6px;
}

.myBorderU{
  border-style: dotted;
border-top-color:red;
border-top-width: 6px;
}